p {
 font-size: 13px;
 font-family: 'Sarabun', sans-serif;
}
body {
  background-color: lightblue;
}

h1{
  font-size: 50px;
  font-family: 'Noto Serif SC', serif; monospace;
}

#top{
  font-size: 10px;
}
body {
}